.section {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightblue;
  margin-top: 10px;
}

#sections-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #008ddd;
  box-shadow: 3px 0px 3px 0 lightgrey;
}