.section {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#sections-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 80px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #008ddd;
  box-shadow: 3px 0px 3px 0 lightgrey;
}

.separator {
  width: 60px;
  background-color: #3da8e5;
  height: 2px;
}

.active {
  background-color: #239bdf;
  opacity: 0.4;
}

.logo {
  background: url('./icons/Briefcase.ico') center no-repeat;
}

.home {
  background: url('./icons/Home.ico') center no-repeat;
}

.sales {
  background: url('./icons/Sales.ico') center no-repeat;
}

.operations {
  background: url('./icons/Operations.ico') center no-repeat;
}

.search {
  background: url('./icons/Search.ico') center no-repeat;
}

.create {
  background: url('./icons/Create.ico') center no-repeat;
}
