h1 {
  margin: 0px;
}

#projects-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.borderless {
  border: none;
}

.button {
  width: 150px;
  height: 30px;
  border: 3px solid #008ddd;
  border-radius: 4px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.button>span {
  padding-left: 13px;
  color: #008ddd;
}

table {
  width: 100%;
}

select {
  border: none;
}