#menu {
  display: flex;
  width: 170px;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 5px 0px 5px 0 lightgrey;
}

#header {
  font-size: x-large;
  padding: inherit;
}

.menu-item {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.selected {
  background-color: lightblue;
}

.menu-item:hover {
  background-color: lightgrey;
}

a {
  text-decoration: none;
  color: #575757;
}