#projects-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

th {
  border-bottom: 1px solid black;
}

td {
  padding: 7px;
}

tr:hover > td {
  background-color: #f2f3f3;
}